body{
    margin: 0; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* for setting the item in the center with respect to y-axis  */
    height: 100vh;
    background-color: black;
}
